<!DOCTYPE html>
<html lang="es" ng-app="moviegami">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Moviegami</title>

    <link rel="stylesheet" href="assets/css/pure.min.css"/>
    <link rel="stylesheet" href="build/moviegami.css"/>
</head>
<body>

    <div id="layout" class="content pure-g">
        <div id="nav" class="pure-u">
            <a href="#" class="nav-menu-button">
                <img id="logo" src="img/logo.png">
            </a>
            <div class="nav-inner">
                <div class="pure-menu">
                    <ul class="pure-menu-list">
                        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Películas</a></li>
                        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Actores</a></li>
                        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Directores</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="listing" class="pure-u-1" ng-controller="MoviesController as movies">
            <div class="movie-item pure-u-1-2" ng-repeat="movie in movies.moviesCollection">
                <div class="movie-decorator">
                    <div class="pure-g">
                        <div class="pure-u">
                            <img ng-src="{{movie.image}}">
                            <div class="rating">
                                {{movie.imdbRating}}
                            </div>
                        </div>
                        <div class="pure-u-3-4 movie-info">
                            <h4>{{movie.title}} ({{movie.year}})</h4>
                            <p ng-if="movie.synopsis">{{movie.synopsis}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script src="assets/js/angular.js"></script>
<script src="build/app.min.js"></script>
</body>
</html>