<div ng-controller="actorsController as actors">
    <div class="pure-g">
        <div class="pure-u-1">
            <a class="pure-button"
               ng-click="actors.showActorForm()">
                <i class="fa fa-plus"></i> Nuevo actor
            </a>
        </div>
    </div>

    <form name="actorForm" class="pure-form pure-form-aligned" ng-if="actors.status.showActorForm" novalidate>
        <fieldset>
            <div class="pure-control-group">
                <label for="actorId">Id</label>
                <input id="actorId" name="actorId" type="text" placeholder="El identificador en IMDb"
                       class="pure-input-1-2" ng-model="newActor.id" required>
            </div>

            <div class="pure-control-group">
                <label for="actorName">Nombre</label>
                <input id="actorName" name="actorName" type="text" placeholder="El nombre del actor"
                       class="pure-input-1-2" ng-model="newActor.name" required>
            </div>

            <div class="pure-control-group">
                <label for="actorBio">Bio</label>
                <input id="actorBio" type="text" placeholder="¿Qué ha hecho el gañán este?"
                       class="pure-input-1-2" ng-model="newActor.bio">
            </div>

            <div class="pure-control-group">
                <label for="actorImage">Image URL</label>
                <input id="actorImage" type="text" placeholder="Pon la ruta de la foto en IMDb"
                       class="pure-input-1-2" ng-model="newActor.image">
            </div>

            <div class="pure-control-group">
                <label for="actorRanking">IMDb ranking</label>
                <input id="actorRanking" type="number" placeholder="El ranking del coleguita en IMDb" ng-model="newActor.imdbRanking">
            </div>

            <div class="pure-controls">
                <button type="submit" class="pure-button pure-button-primary"
                        ng-show="actorForm.$valid" ng-click="actors.submitActor(newActor)">
                    <i class="fa fa-database"></i> Guardar
                </button>
                <button class="pure-button pure-button-disabled" ng-hide="actorForm.$valid">
                    <i class="fa fa-database"></i> Guardar
                </button>
            </div>
        </fieldset>
    </form>

    <div class="pure-g">
        <actor-item ng-repeat="actor in actors.actorsCollection" class="pure-u-1-2"></actor-item>
    </div>
</div>